################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DCOCompetenciasEstrategicas/v16/Server/sqlite3
/.vs/DCOCompetenciasEstrategicas/v15/Server/sqlite3
/DemoScore/bin
/DemoScore/Migrations
