@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">


    <li style="">
        <img src="~/Content/Imagenes/apoyo.png" height="80" style="
            padding-bottom: 10px;
            padding-top: 20px;
            padding-left: 30px;
            ">
    </li>
    <li style=" height: 80px; align-content: center;">
        <a onclick="eliminarCookies();"><button style="background-color:transparent; color:white; border:none" type="button" class="btn btn-default">Regresar a la comunidad</button></a>
    </li>
    <li style="background-color:#B0002D;">
        <img src="~/Content/Imagenes/user.png" height="80" style="
            padding-bottom: 10px;
            padding-top: 20px;
            padding-left: 30px;
            ">
    </li>

    <li style="background-color: #B0002D; height: 80px; align-content: center;">
        @Html.ActionLink("Hola " + Session["FirstName"] + " " + Session["LastName"] + "!", "", "", routeValues: null, htmlAttributes: new { title = "Manage", @style = "background-color:transparent;color:#fff;" })
    </li>
    <li>
        <img src="~/Content/Imagenes/logout.png" height="80" style="
            padding-bottom: 10px;
            padding-top: 20px;
            padding-left: 30px;
            ">
    </li>
    <li>
        <a href="javascript:document.getElementById('logoutForm').submit()" style="background-color: transparent;
        color: #fff;">Cerrar Sesión</a>
    </li>
</ul>
            }
            }
            else
            {
            <ul class="nav navbar-nav navbar-right"></ul>
            }
            <script>

    function eliminarCookies() {


          document.cookie.split(";").forEach(function (c) {
              document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
              var id = @ViewData["usuario"];
              debugger
              var url = 'https://aprendeyavanza2.com.co/bureauveritastrainingcommunity/home/loginexterno?id=' + id;
              console.log(url);
              debugger
              window.location.assign(url);

        });
      }
        $('#clear').click(function () {
            eliminarCookies();

        });

            </script>
